/* Navigation Bar */
/* Navigation Logo */
.netflix-logo img {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Navigation Content */
.navigationAnchor {
    position: space-between;
    color: white;
}

.navigationLinks a {
    text-decoration: none;
}

/* Carousel */
/* Carousel Heading */
.carousel-header {
    margin-top: 10px;
}

/* Carousel Div */
.carousel-item div {
    height: auto;
    width: auto;
    overflow: hidden;
}

/* Carousel Images */
.img {
    width: 50px;
    height: 50px;
}